<footer>
    <div class="footer-copyright">
        <div>
            <img src="../src/imgs/placeholder.png"/>
            <p class="footer-company">My Readings</p>
        </div>

        <p class="footer-copyright-text">
            Copyright 2024 <span>Robert Zak</span>
        </p>
    </div>

    <div class="footer-developers">
        <p class="footer-developers-title">Developed by;</p>

        <p class="footer-developer">Robert Zak</p>
    </div>

    <div class="footer-contacts">
        <p class="footer-contact-title">Contact</p>

        <p class="footer-contact">
            Email: roberthelgi05@gmail.com
        </p>

        <p class="footer-contact">
            Discord: robert_zak
        </p>
    </div>
</footer>