<nav class="navbar">
    <ul class="navbar-list">
        <li>
            <a class="navbar-item">
                <img src="../src/imgs/placeholder.png"/>
                <p>My Readings</p>
            </a>
        </li>

        <li>
            <a class="navbar-item">
                <img src="../src/imgs/placeholder.png"/>
                <p>New Post</p>
            </a>
        </li>

        <li class="navbar-search">
            <input class="navbar-search-input" placeholder="SEARCH FOR USER"/>
        </li>

        <li>
            <a class="navbar-item">
                <img src="../src/imgs/placeholder.png"/>
                <p>Settings</p>
            </a>
        </li>
    </ul>
</nav>